<?xml version="1.0"?>
<Najm>
  <Handlers>
    <!-- individual ids must match IDs you assign for your handler -->
    <Handler Id="37581060-646F-49aa-8D1E-1E255B81B471" Location="..\Handlers\Default" Assembly="Najm.Handler.Default.dll" Param="" IsEnabled="true"/>
    <Handler Id="18E85847-29C2-4cb1-BDA5-0C971BFAB906" Location="..\Handlers\Imaging" Assembly="Najm.Handler.Imaging.dll" Param="" IsEnabled="true"/>
    <Handler Id="1E93F6DB-F2D2-4bda-A114-2B6F633859AC" Location="..\Handlers\Tables" Assembly="Najm.Handler.Tables.dll" Param="" IsEnabled="true"/>
    <Handler Id="B705A42E-7671-4097-A366-6DC6534CCFF9" Location="..\Handlers\IPythonW" Assembly="Najm.Handler.IPython.dll" Param="..\Handlers\IPythonSamples\Console\Console.py" IsEnabled="true"/>
    <Handler Id="5CB3C60C-CB36-4925-9C00-69771586F5B9" Location="..\Handlers\IPythonW" Assembly="Najm.Handler.IPython.dll" Param="..\Handlers\IPythonSamples\TableFields\TableFields.py" IsEnabled="true"/>
    <Handler Id="871E9132-A1FF-410b-A897-5C72F003F7A4" Location="..\Handlers\IPythonW" Assembly="Najm.Handler.IPython.dll" Param="..\Handlers\IPythonSamples\Cube2GIF\cube2gif.py" IsEnabled="true"/>
  </Handlers>
</Najm>
