<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Najm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="HandlersSection" type="Najm.Config.NajmHandlersSection, Najm" allowExeDefinition="MachineToLocalUser"/>
    </configSections>
    <userSettings>
        <Najm.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Najm.Properties.Settings>
    </userSettings>
  <HandlersSection>
    <Handlers>
      <!-- individual ids must match IDs you assign for your handler -->
      <Handler Id="37581060-646F-49aa-8D1E-1E255B81B471" location="..\Handlers\Default" assembly="Najm.Handler.Default.dll" param="" enabled="true"/>
      <Handler Id="18E85847-29C2-4cb1-BDA5-0C971BFAB906" location="..\Handlers\Imaging" assembly="Najm.Handler.Imaging.dll" param="" enabled="true"/>
      <Handler Id="1E93F6DB-F2D2-4bda-A114-2B6F633859AC" location="..\Handlers\Tables" assembly="Najm.Handler.Tables.dll" param="" enabled="true"/>
      <Handler Id="B705A42E-7671-4097-A366-6DC6534CCFF9" location="..\Handlers\IPythonW" assembly="Najm.Handler.IPython.dll" param="..\Handlers\IPythonSamples\Console\Console.py" enabled="true"/>
      <Handler Id="5CB3C60C-CB36-4925-9C00-69771586F5B9" location="..\Handlers\IPythonW" assembly="Najm.Handler.IPython.dll" param="..\Handlers\IPythonSamples\TableFields\TableFields.py" enabled="true"/>
      <Handler Id="871E9132-A1FF-410b-A897-5C72F003F7A4" location="..\Handlers\IPythonW" assembly="Najm.Handler.IPython.dll" param="..\Handlers\IPythonSamples\Cube2GIF\cube2gif.py" enabled="true"/>
    </Handlers>
  </HandlersSection>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
