---
---

/* used to center images in markdown */
.center-image {
    margin: 0 auto;
    display: block;
}

.najm-content {
    margin-top: 130px;
    margin-left: 200px;
    width: 800px;
    font-size: 12pt;
    line-height: 125%;
    font-family: Verdana;
}